<table mat-table [dataSource]="datasource" class="mat-elevation-z8 campaign-table"
    *ngIf="datasource?.data?.length > 0; else noData">

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> DATE </th>
        <td mat-cell *matCellDef="let element">
            <span class="date-name">{{element.campaignDate | date : 'MMM y, d'}}</span>
            <span class="date-diff-region"><em>{{element.dateDiffText}}</em></span>
        </td>
    </ng-container>

    <ng-container matColumnDef="campaign">
        <th mat-header-cell *matHeaderCellDef> CAMPAIGN </th>
        <td mat-cell *matCellDef="let element">
            <div class="d-inline-block">
                <span><img class="main-image" [src]="element.image_url" [alt]="element.name" /></span>
            </div>
            <div class="d-inline-block name-region-block">
                <span class="date-name">{{element.name}} </span>
                <span class="d-block date-diff-region"><em>{{element.region}}</em></span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> VIEW </th>
        <td (click)="openPriceDialog(element.id)" mat-cell *matCellDef="let element"><img class="action-image"
                src="assets/Price.png" alt="Price" /><span class="action-text"> View Pricing </span></td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
        <td mat-cell *matCellDef="let element">
            <img class="action-image" src="assets/file.png" alt="CSV" (click)="alertText(element.csv);" /><span
                class="action-text"> CSV </span>
            <img class="action-image" src="assets/statistics-report.png" alt="Report"
                (click)="alertText(element.report);" /><span class="action-text">
                Report </span>
            <div class="date-schedule">
                <input (dateInput)="onDateChange(element.id);" [(ngModel)]="element.campaignDate" matInput
                    [matDatepicker]="campaignPicker">
                <mat-datepicker-toggle matSuffix [for]="campaignPicker"></mat-datepicker-toggle>
                <mat-datepicker #campaignPicker></mat-datepicker>
                <mat-label>Schedule Again</mat-label>
            </div>
        </td>
    </ng-container>

    <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="content-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #noData>
    <h1 class="no-record">No Records</h1>
</ng-template>